
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Device Code</title>
</head>
<body>
    <div class="container">
        <h1 style="text-align: center;">Enter your device code</h1>
        <form method="POST">
        {% csrf_token %}
            <input type="text" class="form-control" name="code"> <br>
            <button class="btn btn-success" class="form-control">Submit</button>
        </form>
    </div>

</body>
</html>