{% extends "authenticate/base.html" %}

{% block main %}
    <div class="container">
        <h1>Login</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username/Email</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <input type="hidden" name="deviceid" id="deviceid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <p>Or did you <a href="/auth/forgot-password">forgot your password</a>? Or <a href="/auth/register">register an account</a>.</p>
        <script>
            function getCookie(cname) {
                var name = cname + "=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');
                for(var i = 0; i <ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                    }
                }
                return "";
            }
            document.getElementById("deviceid").value = getCookie("deviceid");
        </script>
    </div>
{% endblock %}
