{% extends "authenticate/base.html" %}

{% block main %}
    <div class="container">
        <h1>Register</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="f_name">First name</label>
                <input type="text" class="form-control" id="f_name" name="f_name">
            </div>
            <div class="form-group">
                <label for="l_name">Last name</label>
                <input type="text" class="form-control" id="l_name" name="l_name">
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="form-group">
                <label for="confirmation">Password Confirmation</label>
                <input type="password" class="form-control" id="confirmation" name="confirmation">
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">You read and agree our Privacy Policy & Term of Use</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}