{% extends "repo/base.html" %}

{% block main %}
    <button type="button" class="btn btn-light" id="file">Add File</button>
    <button type="button" class="btn btn-light" id="folder">Add Folder</button>
    {% for f in files %}
        <div><a href="{{ f.filename }}/">{{ f.filename }}</a></div>
    {% endfor %}
    {% for d in dirs %}
        <div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M1.75 1A1.75 1.75 0 000 2.75v10.5C0 14.216.784 15 1.75 15h12.5A1.75 1.75 0 0016 13.25v-8.5A1.75 1.75 0 0014.25 3h-6.5a.25.25 0 01-.2-.1l-.9-1.2c-.33-.44-.85-.7-1.4-.7h-3.5z"></path></svg> <a  id="{{ d.name }}">{{ d.name }}</a></div>
        <script>
            if (window.location.href[window.location.href.length-1] === "/") {
                document.getElementById("{{ d.name }}").setAttribute("href", `${window.location.href}{{ d.name }}`)
            } else {
                document.getElementById("{{ d.name }}").setAttribute("href", `${window.location.href}/{{ d.name }}`)
            }
        </script>
    {% endfor %}
    <script>
        var path = window.location.pathname.split("/");
        for (let i=4; i<path.length; i++) {
            var LI = document.createElement("LI");
            var string = "/"
            for (let j=1; j<i; j++) {
                string += path[j] + "/";
            }
            LI.innerHTML = `<a href="${string}${path[i]}">${path[i]}</a>`
            LI.setAttribute("class", "breadcrumb-item");
            document.getElementById("breadcrumb").appendChild(LI);
        }

        document.getElementById("folder").onclick = () => {
            var origin = window.location.origin;
            const pathname = window.location.pathname;
            var rest = ""
            for (let i=4; i<pathname.split("/").length; i++) {
                rest += `/${pathname.split("/")[i]}`;
            }
            var path = `/${pathname.split("/")[1]}/${pathname.split("/")[2]}/${pathname.split("/")[3]}/folder${rest}`
            window.location.replace(`${origin}${path}`)
        }

        document.getElementById("file").onclick = () => {
            var origin = window.location.origin;
            const pathname = window.location.pathname;
            var rest = ""
            for (let i=4; i<pathname.split("/").length; i++) {
                rest += `/${pathname.split("/")[i]}`;
            }
            var path = `/${pathname.split("/")[1]}/${pathname.split("/")[2]}/${pathname.split("/")[3]}/upload${rest}`
            window.location.replace(`${origin}${path}`)
        }
    </script>
{% endblock %}