{% extends "repo/base.html" %}

{% block main %}
    <style>
        h1 {
            font-size: 32px;
        }
        h2 {
            font-size: 24px;
        }
        h3 {
            font-size: 20px;
        }
        h4 {
            font-size: 16px;
        }
        h5, h6 {
            font-size: 14px;
        }

    </style>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/highlightjs-line-numbers.js@2.8.0/dist/highlightjs-line-numbers.min.js"></script>
    <script src="https://cdn.jsdelivr.net/remarkable/1.7.1/remarkable.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
        hljs.initLineNumbersOnLoad();
    </script>
    <button type="button" class="btn btn-light" id="file">Add File</button>
    <button type="button" class="btn btn-light" id="folder">Add Folder</button>
    {% for f in files %}
        <div><a href="{{ f.filename }}/">{{ f.filename }}</a></div>
    {% endfor %}
    {% for d in dirs %}
        <div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M1.75 1A1.75 1.75 0 000 2.75v10.5C0 14.216.784 15 1.75 15h12.5A1.75 1.75 0 0016 13.25v-8.5A1.75 1.75 0 0014.25 3h-6.5a.25.25 0 01-.2-.1l-.9-1.2c-.33-.44-.85-.7-1.4-.7h-3.5z"></path></svg> <a  id="{{ d.name }}">{{ d.name }}</a></div>
        <script>
            if (window.location.href[window.location.href.length-1] === "/") {
                document.getElementById("{{ d.name }}").setAttribute("href", `${window.location.href}{{ d.name }}`)
            } else {
                document.getElementById("{{ d.name }}").setAttribute("href", `${window.location.href}/{{ d.name }}`)
            }
        </script>
    {% endfor %}
    <script>
        var path = window.location.pathname.split("/");
        for (let i=4; i<path.length; i++) {
            var LI = document.createElement("LI");
            var string = "/"
            for (let j=1; j<i; j++) {
                string += path[j] + "/";
            }
            LI.innerHTML = `<a href="${string}${path[i]}">${path[i]}</a>`
            LI.setAttribute("class", "breadcrumb-item");
            document.getElementById("breadcrumb").appendChild(LI);
        }

        document.getElementById("folder").onclick = () => {
            var origin = window.location.origin;
            const pathname = window.location.pathname;
            var rest = ""
            for (let i=4; i<pathname.split("/").length; i++) {
                rest += `/${pathname.split("/")[i]}`;
            }
            var path = `/${pathname.split("/")[1]}/${pathname.split("/")[2]}/${pathname.split("/")[3]}/folder${rest}`
            window.location.replace(`${origin}${path}`)
        }

        document.getElementById("file").onclick = () => {
            var origin = window.location.origin;
            const pathname = window.location.pathname;
            var rest = ""
            for (let i=4; i<pathname.split("/").length; i++) {
                rest += `/${pathname.split("/")[i]}`;
            }
            var path = `/${pathname.split("/")[1]}/${pathname.split("/")[2]}/${pathname.split("/")[3]}/upload${rest}`
            window.location.replace(`${origin}${path}`)
        }
    </script>
    <br>
    {% if readme != None %}
        <div>
            <div style="width: 100%; border: 1px solid black; padding: 10px; border-radius: 10px;">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M4 1.75C4 .784 4.784 0 5.75 0h5.586c.464 0 .909.184 1.237.513l2.914 2.914c.329.328.513.773.513 1.237v8.586A1.75 1.75 0 0114.25 15h-9a.75.75 0 010-1.5h9a.25.25 0 00.25-.25V6h-2.75A1.75 1.75 0 0110 4.25V1.5H5.75a.25.25 0 00-.25.25v2.5a.75.75 0 01-1.5 0v-2.5zm7.5-.188V4.25c0 .138.112.25.25.25h2.688a.252.252 0 00-.011-.013l-2.914-2.914a.272.272 0 00-.013-.011zM5.72 6.72a.75.75 0 000 1.06l1.47 1.47-1.47 1.47a.75.75 0 101.06 1.06l2-2a.75.75 0 000-1.06l-2-2a.75.75 0 00-1.06 0zM3.28 7.78a.75.75 0 00-1.06-1.06l-2 2a.75.75 0 000 1.06l2 2a.75.75 0 001.06-1.06L1.81 9.25l1.47-1.47z"></path></svg>
                <small><b>README.md</b></small>
                <br>
                <div id="readme"></div>
            </div>
        </div>
        <script>
            var md = new Remarkable();
            document.querySelector("#readme").innerHTML = md.render(`{{ readme }}`);
        </script>
    {% endif %}
{% endblock %}