{% extends "main/base.html" %}

{% block main %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/highlightjs-line-numbers.js@2.8.0/dist/highlightjs-line-numbers.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
        hljs.initLineNumbersOnLoad();
    </script>
    <div class="container">
        {% for d in data %}
            {{ d.0 }} <br>
            <div style="border: 3px solid black">
                {% if d.2 == "undecodeable" %}
                    <a href="{{ d.1 }}" style="margin-left: 45%">Download Raw</a>
                {% else %}
                    <pre><code class="hljs">{{ d.1 }}</code></pre>
                {% endif %}
            </div>
            <hr>
        {% endfor %}
    </div>

{% endblock %}