<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codepo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        #simple-codelines {
            background-color: #2b3137;
        }

        nav {
            background-color: #24292e;
            height: 80px;
        }

        .white-text {
            color: #f8f8f9;
        }
    </style>
    {% load static %}
    <link rel="stylesheet" href="{% static "main/style.css" %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Codepo
            <span class="badge bg-danger">alpha</span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false" style="color: #f8f8f9">
                      Why Codepo
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#"><b>Features</b></a></li>
                      <li><a class="dropdown-item" href="#">...</a></li>
                      <li><hr class="dropdown-divider" style="border-top: 1px solid #b1b1b8"></li>
                      <li><a class="dropdown-item" href="#"><b>Customers Stories</b></a></li>
                      <li><a class="dropdown-item" href="#"><b>Security</b></a></li>
                    </ul>
                </li>
              <li class="nav-item">
                <a class="nav-link" style="color: #f8f8f8" href="#">Team</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color: #f8f8f8" href="#">Enterprise</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false" style="color: #f8f8f9">
                  Explore
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#"><b>Explore Codepo</b></a></li>
                </ul>
                <li class="nav-item">
                    <a class="nav-link" style="color: #f8f8f8" href="#">Marketplace</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false" style="color: #f8f8f9">
                      Pricing
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#"><b>Free Forever!</b></a></li>
                    </ul>
                </li>
            </li>
            </ul>
            <form class="d-flex">
              <button class="btn btn-outline-secondary" onclick="location.assign('/auth/login/')" type="button">Login</button>
              <button class="btn btn-outline-secondary" onclick="location.assign('/auth/register/')" type="button">Sign Up</button>
            </form>
          </div>
        </div>
    </nav>
    <!-- <img src="https://github.com/images/modules/site/heroes/simple-codelines.svg" id="simple-codelines" height="610px" width="1280px"> -->

<div style="background-image: url(https://github.com/images/modules/site/heroes/simple-codelines.svg); background-color: #2b3137; height: 610px; width: 100%;">
    <div>
      <h1 style="padding-right: 200px; font-family: 'Inter Medium'; color: white; font-size: 64px; font-weight: 500px; padding-left: 150px; padding-right: 800px; padding-top: 190px;">Built for developers</h1>
      <p style="margin-left: 150px; margin-right: 600px; color: #aaadaf; font-size: 20px;">Codepo is a development platform inspired by the way you work. From open source to business, you can host and review code, manage projects, and build software alongside 50 million developers.</p>
    </div>

      <div style="margin-top: -400px; padding-left: 700px">
        <!--<form style="background-color: #fafbfc; width: 430px; height: 510px; border-radius: 5px;">
          {% csrf_token %}
            <!-- <div class="mb-3" style="padding-left: 30px; padding-right: 30px; padding-top: 15px;">
                <label for="exampleFormControlInput1" class="form-label">Username</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="username" placeholder="fake-octocat" required>
            </div>
            <div class="mb-3" style="padding-left: 30px; padding-right: 30px">
                <label for="exampleFormControlInput1" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" name="email" placeholder="name@example.com" required>
            </div>
            <div class="mb-3" style="padding-left: 30px; padding-right: 30px">
              <label for="exampleFormControlInput1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleFormControlInput1" name="passwrod" placeholder="secret..." aria-describedby="passwordHelpBlock" required>
              <div id="passwordHelpBlock" class="form-text">
                Create a safe password!
              </div>
            </div> -->
            <!-- <button type="button" class="btn btn-success" style="margin-left: 30px; margin-right: 30px; width: 370px; height: 65px; background-color: #2ebc4f;" onclick="location.assign('/auth/register/')" >Sign up for GitHub (clone)</button>
            <br>
            <button type="button" class="btn btn-success" style="margin-left: 30px; margin-right: 30px; width: 370px; height: 65px; background-color: #2ebc4f;" onclick="location.assign('/auth/login/')" >Login for GitHub (clone)</button> -->
            <!-- <small style="color: #6a737d; font-size: 12px; padding: 30px; padding-left: 50px;">By clicking “Sign up for GitHub”, you agree to our Terms of Service and Privacy Statement. We’ll occasionally send you account related emails.</small> -->
        </form> -->
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</body>
</html>
