{% extends "main/base.html" %}

{% block main %}
    <style>
        button:hover, button:active, button:focus {
            outline: none;
            background-color: #2c974b;
        }
    </style>
    <div class="container">
        <div class="col-3">
            <br>
            <b>{{ request.user.username }}</b>
            <hr>
            <b>Repositories</b>
            <button type="button" style="background-color: #2ea44f; border: 1px solid #56b570; border-radius: 5px;" onclick="window.location.assign('/new')">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="14" height="14" style="fill: white;">
                    <path fill-rule="evenodd" d="M2 2.5A2.5 2.5 0 014.5 0h8.75a.75.75 0 01.75.75v12.5a.75.75 0 01-.75.75h-2.5a.75.75 0 110-1.5h1.75v-2h-8a1 1 0 00-.714 1.7.75.75 0 01-1.072 1.05A2.495 2.495 0 012 11.5v-9zm10.5-1V9h-8c-.356 0-.694.074-1 .208V2.5a1 1 0 011-1h8zM5 12.25v3.25a.25.25 0 00.4.2l1.45-1.087a.25.25 0 01.3 0L8.6 15.7a.25.25 0 00.4-.2v-3.25a.25.25 0 00-.25-.25h-3.5a.25.25 0 00-.25.25z">
                    </path>
                </svg>
                <span style="color: white; font-size: 12px;">New</span>
            </button>
            <div class="form-group">
                <input type="text" id="search">
            </div>
            <hr>
            <a class="btn btn-outline-dark" href="/github/authenticate/?next=/github/sync-repo/" role="button" style="text-transform:none">
                <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/9/95/Font_Awesome_5_brands_github.svg">
                Sync with GitHub
            </a>
            <hr>
            <div id="repos">
                {% for r in repos %}
                    <div><a href="/repo/{{ request.user.username }}/{{ r.name }}">{{ r.name }}</a></div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
        document.getElementById("search").onkeyup = () => {
            // console.log(document.getElementById("search").value);
            fetch(location.href + "api/query-repo/?name=" + document.getElementById("search").value + "&user_id=" + "{{ request.user.id }}")
            .then(response => response.json())
            .then(data => {
                // console.log(data)
                document.getElementById("repos").innerHTML = ""
                for (let i=0; i<data.length; i++) {
                    var div = document.createElement("div");
                    div.innerHTML = `<a href='/repo/{{ request.user.username }}/${data[i]}/'>${data[i]}</a>`
                    document.getElementById("repos").appendChild(div);
                }
            })
        }
    </script>
{% endblock %}