<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-4">

            </div>
            <div class="col-8">
                <h2>Settings</h2>
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Repository Name</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" value="{{ repo }}">
                    </div>
                </form>
                <hr>
                <h4 style="color: red;">Danger Zone</h4>
                <div style="height: 200px; border: 2px solid red; border-radius: 5px; margin-top: 10px;" class="container">
                    <div style="margin-top: 10px">
                        <div class="row">
                            <div class="col-5">
                                <b>Change This Repository's Visibility</b>
                                {% if status == 0 %}
                                    <p>This Repository is currently public.</p>
                                {% else %}
                                    <p>This Repository is currently private.</p>
                                {% endif %}
                            </div>
                            <div class="col-7">
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" data-name="{{ repo }}" style="margin-left: 200px;">Change Visibility</button>
                            </div>
                        </div>

                    </div>
                    <hr>
                    <div style="margin-top: 10px">
                        <div class="row container">
                            <div class="row-5">
                                <b>Delete This Repository</b>
                                <p>This is not undo-able. Do it with caution.</p>
                            </div>
                            <div class="row-7">
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete" data-name="{{ repo }}" style="margin-left: 200px;">Delete Repository</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" action="/repo/visibility/{{ request.user.username }}/{{ repo }}/">
            {% csrf_token %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="status" id="public" value="public">
                <label class="form-check-label" for="public">
                  Public, everybody can view it
                </label>
                <br>
                <input class="form-check-input" type="radio" name="status" id="private" value="private">
                <label class="form-check-label" for="private">
                  Private, only you can view it
                </label> <br>
                <button type="submit" class="btn btn-danger">Change Visibility</button>
            </div>
          </form>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Send message</button>
        </div> -->
      </div>
    </div>
  </div>

  <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h1>Delete</h1>
          <form method="POST" action="/repo/delete-repo/{{ request.user.username }}/{{ repo }}/">
                {% csrf_token %}
              <button type="submit" class="btn btn-danger">Delete Repository</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Send message</button>
        </div>
      </div>
    </div>
  </div>
  <script>
      $('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var repo = button.data('name') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('Change ' + repo + "'s Visibility")
})
    </script>
</body>
</html>